.card {
    background-color: #252526;
    border-radius: 10px;
    padding: 28px 24px;

    @media(max-width: 900px) {
        padding: 15px 15px;
    }

    &__container {

        .img__container {
            margin-bottom: 51px;
            img {
                width: 100%;
                display: block;

            }
        }

        .category__container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            > div {
                display: flex;
                align-items: center;
            }

            .star {
                gap: 11.13px;

                p {
                    align-self: flex-end;
                    font-size: 1.55rem;
                    font-weight: 700;
                }
            }

            .nameCategory {
                gap: 13px;

                p {
                    font-size: 1.25rem;
                }
            }
        }
        .description {
            margin: 42px 0 50px;
            border: 1px solid red;

            .description_name {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 35px;

                > div:nth-child(1) {
                    h2 {
                        font-size: 2.5rem;
                        margin-bottom: 7px;
                    }

                    p {
                        font-size: 1.4rem;
                    }
                }
                > div:nth-child(2) {
                    align-self: flex-start;
                    margin-top: 0.7rem;

                    img + img {
                        margin-left: 20px;
                    }
                }
            }

            .description_text {
                border: 1px solid red;
                p {
                    font-size: 1.7rem;
                    font-weight: 300;
                }

                @media(max-width: 900px) {
                    p {
                        font-size: 1.4rem;
                    }
                }
            }
        }

        .book_details {
            display: flex;
            align-items: center;
            gap: 47px;

            p.year {
                font-size: 1.25rem;
            }

            > div:nth-child(2) {
                display: flex;
                gap: 7px;

                p {
                    font-size: 1.25rem; 
                }
            }

            > div:nth-child(3) {
                position: relative;
                
                span {
                    display: inline-block;
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -40%);
                    font-size: 0.7rem; 
                    z-index: 10;
                }
            }
        }

        .readNow {
            margin-top: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media(max-width: 870px) {
                flex-direction: column;
                gap: 15px;
            }

            button {
                width: 14.5rem;
                height: 54px;
                background: linear-gradient(180deg, #FAB52B 0%, #FD8E0B 100%);
                border-radius: 8px;
                font-size: 1.7rem;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 300ms;

                &:hover {
                    filter: brightness(0.9);
                }
            }

            > div {
                p {
                    font-size: 1.7rem;
                    color: var(--color-primary);
                }
            }
        }
    }
}