.releases {
    width: 100%;
    height: 100%;
    margin-top: 152px;
    margin-bottom: 124px;

    @media(max-width: 1200px) {
        margin-top: 70px;
    }

    &__container {
        max-width: 1700px ;
        margin: 0 auto;

        @media(max-width: 1440px) {
            padding: 0 2rem;
        }

        .title {
            border-bottom: 1px solid hwb(0 50% 50% / 0.275);
            padding-bottom: 30px;

            h1 {
                color: var(--color-primary);
                font-size: 1.9rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .films {
            margin-top: 96px;

            .films__container {
                .cards {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, 997px);
                    column-gap: 12px;
                    row-gap: 124px;

                    @media(max-width: 1200px) {
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, 970px);
                    }

                    @media(max-width: 600px) {
                        grid-template-columns: repeat(1,1fr);
                        grid-template-rows: repeat(2, 900px);
                        row-gap: 100px;
                    }

                }
            }
        }
    }
}
/*---------- MODAL ---------*/
.modal {
    .expander__card{
        width: 90vw;
        height: 90vh;
        border: 1px solid #000;
        box-shadow: 0 0 5px #fff;;
        border-radius: 8px;

        @media(max-width: 800px) {
            width: 92vw;
            height: 92vh;
        }

        .expander__content {
            height: 100%;
            display: flex;
            
            .details {
                flex-basis: 30%;
                border-right: 1px solid hwb(0 50% 50%/0.275);

                &__container {
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;

                    > img {
                        display: block;
                        width: 100%;
                    }

                    .data {
                        margin-top: 2rem;
                        padding-top: 1rem;
                        border-top: 1px solid hwb(0 50% 50%/0.275);

                        > div {
                            margin-bottom: 1rem;

                            p {
                                display: inline-block;
                                margin-left: 1rem;
                                color: var(--color-text);

                                span {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

                @media(max-width: 800px) {
                    flex-basis: 40%;

                    &__container {
                        padding: 0rem;
                     
                        .data {
                            padding: 0 .5rem;
                            padding-top: 1rem;
    
                            > div {
                                margin-bottom: 2.5rem;
                                display: flex;
    
                                p {
                                    margin-left: 0.7rem;
                                }

                                svg {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }

            }

            .description {
                flex-basis: 70%;

                &__container {
                    position: relative;
                    height: 100%;
                    padding: 2rem;
                    padding-top: 5rem;

                    button.close {
                        position: absolute;
                        top: 0.6rem;
                        right: 0.6rem;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        transition: 300ms;
                        
                        svg {
                            font-size: 4rem;
                            color: var(--color-primary);
                        }

                        &:hover {
                            filter: brightness(0.9);
                            transform: scale(0.95);
                            transition: 300ms;
                        }
                    }

                    .title {
                        text-align: center;
                        text-transform: uppercase;
                    }

                    .text {
                        max-width: 80%;
                        margin-top: 2rem;

                        p {
                            line-height: 2.2rem;
                        }
                    }
                }

                @media(max-width: 800px) {
                    flex-basis: 60%;

                    &__container {
                        padding: 1rem;
                        padding-top: 9rem;
    
                        button.close {
                            top: 0.2rem;
                            right: 0.2rem;
                            
                            svg {
                                font-size: 3rem;
                            }
                        }
    
                        .title {
                            font-size: 1.1rem;
                        }
    
                        .text {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}
