.footer {
    width: 100%;
    height: 508px;
    background-color: #252526;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;

    &__container {
        max-width: 1700px;
        width: 100%;
        margin: 0 auto;
        flex: 1;

        @media(max-width: 1440px) {
            padding: 0 2rem;
        }
        border: 1px solid blue;
    }

    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 82px;
        background-color: var(--color-primary);

        p {
            font-family: 'Fira Sans', sans-serif;
            font-weight: 500;
            color: #17161B;
        }
    }
}